﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Погода сегодня</h1>
    <p>Минимальная температура воздуха  @ViewData["MinTemperature"] С</p>
    <p>Максимальная температура воздуха  @ViewData["MaxTemperature"] С</p>
</div>
